html,
body {
    margin: 0;
    padding: 0;
}

body {
    background-image: url(../image/flovers2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.perel {
    font-size: 25px;
    font-style: italic;
    position: absolute;
    z-index: 10;
    top: 40;
    margin-left: 5%;
}


/* h2::before {
    content: " ~ ~ ~ ";
}

h2::after {
    content: " ~ ~ ~ ";
} */

.header {
    position: fixed;
    top: 40;
    width: 90%;
    text-align: center;
}

.list-elems {
    margin-top: 10px;
    font-weight: bold;
    color: black;
    transition: all 0.5s;
}

.list-elems:hover {
    text-shadow: 0 0 2px white, 0 0 2px white;
    transition: all 0.3s;
}

.list-elems a:hover {
    color: rgb(36, 36, 36);
}

a:link {
    color: black;
}

a:visited {
    color: black;
}

a {
    text-decoration: none;
}

.d1 {
    font-size: 25px;
    font-style: italic;
    position: absolute;
    z-index: 10;
    font-weight: bold;
    top: 90%;
    right: 5%;
}

.d1 a {
    text-decoration: none;
}

.verh {
    margin: auto;
    background: rgba(238, 216, 191, 0.6);
}

.input_n {
    font-size: 22px;
    border: none;
    background: rgba(238, 216, 191, 0.658);
    margin-left: 5px;
    width: 200px;
    font-style: italic;
}

.button {
    background: rgba(150, 131, 110, 0.7);
    border: double 4px rgb(70, 59, 48);
    height: 30px;
    font-size: 16px;
    font-family: Nexa Script Light;
}

#block_left {
    width: 100px;
    float: left;
    clear: both;
}

#block_right {
    margin-left: 150px;
    width: 100px;
}